<div class="span-20 last prepend-top user_profile" data-pk="{{ author.pk }}">
      {% include 'accounts/parts/main_detail.html' %}

      <div class="span-2 prepend-top  colborder" align="center">
        <span class="current profile_num user_profile_rating">{{ author.rating }}</span>
        <br/>
        <a class="current follow_link" href="" title="">RATING</a>
      </div>
      <div class="span-2 prepend-top" align="center">
        <span class="current profile_num user_profile_followings">{{ author.followings.count }}</span>
        <br/>
        <a class="current follow_link show_modal" href="#" data-url="{% url 'accounts:get_following_followers' author.pk 'followings' %}" title="">FOLLOWING</a>
      </div>
      <div class="span-2 prepend-1 prepend-top last" align="center">
        <span id="author_detail_followers_count" class="current profile_num user_profile_followers">{{ author.followers.count }}</span>
        <br/>
        <a class="current follow_link show_modal" href="#" data-url="{% url 'accounts:get_following_followers' author.pk 'followers' %}"  title="">FOLLOWERS</a>
      </div>
</div>