{% load thumbnail %}

<div class="span-3 avatar" align= "center">
  {% thumbnail author.avatar "140x140" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}
</div>

<div class="span-9 description_area">
  <h3>
    <a class="active_menu green_text_hover upper" href="{{ author.get_absolute_url }}" title="">- {{ author.username }}</a>
  </h3>
  <h4>
    <div class="self_info current">
      {% if request.user == author %}
        <form class="ajax_form" action="#" method="POST" data-url="{% url 'accounts:update_description' %}">
          {% csrf_token %}
          {{ form_description.description }}
          {{ form_description.link }}
        </form>
      {% else %}
        <div class="self_info current">{{ author.description }}</div>
        <a href="{{ author.link }}">{{ author.link }}</a>
      {% endif %}
    </div>
  </h4>
  <h3>
    {% include 'accounts/widgets/follow_unfollow_form.html' %}
  </h3>
</div>