{% load thumbnail %}

<div class="span-9 last prepend-top" >
  <div class="span-2" align= "center">
    {% thumbnail author.avatar "80x80" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
  </div>

  <div class="span-7">
    <h4 id="left_pad">
      <div>
        <a class="active_menu green_text_hover" href="{{ author.get_absolute_url }}" title="">- {{ author.username|upper }}</a>
        <br>
        <span class="self_info current">{{ author.description }}</span>
        <br>
        <span class="self_info current">
          {% if author.link %}
            <a href="{{ author.link }}">social profile</a>
          {% endif %}
        </span>
      </div>
      <div>
        {% include 'accounts/widgets/follow_unfollow_form.html' %}
      </div>
    </h4>
  </div>
</div>


