<form id="{{ form.id }}" class="ajax_form" action="#" method="post"
      data-url="{{ form_action }}" data-after_event="after_comment" data-before_event="before_comment">
  {% csrf_token %}
  {{ form.comment_text }}
  {{ form.to_comment }}
  <div><input type="submit" value="Send" id="comment_reply__send_button"></div>
  {% if form.close_btn %}
  <a class="reply_comment_cancel" href="#" data-comment="{{ comment.pk }}" id="reply_comment_close">
    Close
  </a>
  {% endif %}
</form>
