{% extends 'modals/base_modal.html' %}
{% block modal_content %}
{% load set %}

{% if who == 'followers' %}
  {% set who = 'FOLLOWERS' %}
  {% set peoples = user.followers.all %}
{% elif who == 'followings' %}
  {% set who = 'FOLLOWINGS' %}
  {% set peoples = user.followings.all %}
{% endif %}


  <div class="span-20 prepend-2 last prepend-top">
    <div>
      <h3>
        <a class="active_menu green_text_hover" href="{{ user.get_absolute_url }}">- {{ user.username }}</a>
        <span class="green_text" > {{ who }}</span>
      </h3>
    </div>
  </div>

  {% for author in peoples %}
    {% include 'accounts/parts/main_detail.html' %}
  {% endfor %}

{% endblock %}