{% extends 'modals/base_modal.html' %}
{% block modal_content %}
    <div class="login_header center">
      <p class="star_icon1"></p>
      <span class="login_become"> BECOME A WRITESTAR</span>
    </div>
    <div class="login_text center">
      <p>
         Sign in to become a writestar
      </p>
    </div>
    <div class="center">
      <div class="">
        <a href="{% url 'social:begin' "facebook" %}"><p class="facebook_logo"></p></a>
        <a href="{% url 'social:begin' "twitter" %}"><p class="tw_logo"></p></a>
      </div>
    </div>
{% endblock %}