{% if request.user != story.author  %}
  <div class="in_bookmarks_block green_star">
    {% if story in request.user.bookmarks.all %}
      <span class="green_text">in bookmarks</span>
    {% else %}
      <form class="ajax_form" action="#" method="post"
        data-url="{% url 'accounts:add_bookmark' %}" data-after_event="after_bookmarks">
        {% csrf_token %}
        <input type="hidden" name="story_pk" value="{{ story.pk }}">
        <button class="green_text cursor_pointer send_button"><span>add to bookmarks</span></button>
      </form>
    {% endif %}
  </div>
{% endif %}