{% if user_list %}
  <div class="span-20 last">
    <div class="span-18 last" id="left_pad">
      <h3>
        {% for user in user_list %}
          {% if forloop.first %}
            <a class="active_menu green_text" href="{{ user.get_absolute_url }}" title="">- {{ user.username }}</a>
          {% else %}
            , <a class="active_menu green_text" href="{{ user.get_absolute_url }}" title="">- {{ user.username }}</a>
          {% endif %}
        {% endfor %}
        <span> {{ what_he_did }}</span>
      </h3>
    </div>
  </div>
{% endif %}
