{% load thumbnail %}
{% load set %}

{% set protocol = 'http://' %}
{% set host = request.get_host %}
{% set url = story.get_absolute_url %}

<hr>
{% if story %}
  <div class="story_info" data-pk="{{ story.pk }}">
    <div class="last">
      <h4>
        {% if user != story.author and story.is_anonymous %}
          <span class="post_auth_name">Anonymous</span>
        {% else %}
          <a class="post_auth_name" href="{{ story.author.get_absolute_url }}">- {{ story.author|upper }}</a>
        {% endif %}
        <span class="current"> WRITE THIS STORY</span><span class="date_of_story current"> {{ story.created_on }}</span>
      </h4>
      {% if user == story.author %}
        <ul class="me_nu span-18 last">
          <li class="menu__item">
              <div class='ribbon'>
                <a class="ribbon_link" href='{{ story.get_absolute_url }}'>
                  <span class="ribbon_text">{{ story.title|truncatechars:62|upper }}</span>
                </a>
              </div>
              <div class="menu__item__sublist">
                <ul>
                  <li class="menu__item__sublist_item">
                    <a href="" data-url="{% url 'stories:edit' story.pk %}" class="menu__item__sublist_link current show_modal">edit this story</a>
                  </li>
                </ul>
              </div>
          </li>
        </ul>
      {% else %}
        <div class='ribbon'>
          <a class="ribbon_link" href='{{ story.get_absolute_url }}'>
            <span class="ribbon_text">{{ story.title|slice:"70"|upper }}</span>
          </a>
        </div>
      {% endif %}
    </div>

    <h4 class="span-18">
      {% for tag in story.tags.all %}
        <a class="current" href="{{ tag.get_absolute_url }}">{{ tag.title|upper }}</a>
      {% endfor %}
    </h4>
    <div class="image_prewiew">
      {% thumbnail story.cover "600x421" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </div>
    <div class="story_text">
      {{ story.story_text|safe }}
    </div>
    <div class="story_down_line grey_ribbon">
      <table>
        <tr>
          <td><span class="story_rating green_text">{{ story.rating }}</span></td>
          <td>
            <form action="#" data-url="{% url 'voting:vote' object='story' pk=story.pk %}" method="post">
              {% csrf_token %}
              <button class="send_vote rating_up" value="up" name="direction"></button>
              <button class="send_vote rating_down" value="down" name="direction"></button>
            </form>
          </td>
          <td>
            <div class="tooltip tooltip_share green_text">
              <span>share this story</span>
              <div class="in_tooltip_share in_tooltip">
                {% autoescape on %}
                  <a class="social social-tw"
                     href="https://twitter.com/intent/tweet?hashtags=thestorybay&text={{ story.title }}&url={{ protocol|iriencode }}{{ host|iriencode }}{{ url|iriencode }}"
                     target="_blank">
                  </a>
                  <a class="social social-fb fb_init_share_dialog" href="#"
                    data-link="{{ protocol }}{{ host }}{{ url }}"
                    data-caption="{{ story.title }}"
                    {% thumbnail story.cover "600x315" crop="center" as im %}
                      data-picture="{{ protocol }}{{ host }}{{ im.url }}"
                    {% endthumbnail %}
                    data-description="{{ story.story_text|striptags|truncatewords:20 }}">
                  </a>
                {% endautoescape %}
              </div>
            </div>
          </td>
          <td><span class= "green_text"> | </span></td>
          <td>
            {% include 'stories/widgets/add_in_bookmarks.html' %}
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h4>
        <a class="current green_text_hover story_amount_comments" href="{{ story.get_absolute_url }}#comments">{{ story.comment_set.count }}</a>
        <span class="current" id="comments"> COMMENTS</span>
      </h4>
    </div>
  </div>
{% endif %}