{% load thumbnail %}
{% url 'stories:feed' as stories_feed_url %}

<div class="relat">
  {% if request.get_full_path == stories_feed_url %}
    {% include 'stories/widgets/who_liked_this.html' with user=request.user user_list=story.my_following_bookmark_users what_he_did='ADD TO BOOKMARKS THIS STORY'%}
    {% include 'stories/widgets/who_liked_this.html' with user=request.user user_list=story.my_following_vote_users what_he_did='RECCOMEND THIS STORY'%}
  {% endif %}

  <div class="main_block story_info" data-pk="{{ story.pk }}">
    <div class="span-5">
      <div class="date_message append-botton current">
        <p>{{ story.created_on }}</p>
      </div>
      <div class="image_prewiew">
        <a href="{{ story.get_absolute_url }}" title="">
          {% thumbnail story.cover "235x157" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </a>
      </div>
      <div class="author">
        <h4>
          {% if story.is_anonymous %}
            <span class="post_auth_name">ANONYMOUS</span>
          {% else %}
            <a class="post_auth_name" href="{{ story.author.get_absolute_url }}">- {{ story.get_username|upper }}</a>
          {% endif %}
        </h4>
      </div>
    </div>

    <div class="block_info span-15 last prepend-top ">
      <h4>
        <a class="current tag_theme" href="" title="">
          {% for tag in story.tags.all %}
            <a class="current" href="{{ tag.get_absolute_url }}">{{ tag.title|upper }}</a>
          {% endfor %}
        </a>
      </h4>
      <div class='ribbon'>
        <a class="ribbon_link  tag_theme" href='{{ story.get_absolute_url }}'>
          <span class="ribbon_text">{{ story.title|slice:"34"|upper }}</span>
        </a>
      </div>

      <div class=" current story_preview">
        <p>{{ story.description }}</p>
      </div>

      <div class="down_line green_text">
        <form class="down_line_buttons" action="#" data-url="{% url 'voting:vote' object='story' pk=story.pk %}" method="post">
          {% csrf_token %}
          <table>
            <tr>
              <td><span class="story_rating">{{ story.rating }}</span></td>
              <td><button class="send_vote rating_up" value="up" name="direction"></button></td>
              <td><button class="send_vote rating_down" value="down" name="direction"></button></td>
              <td><a class="current green_text_hover view_comment" href="{{ story.get_absolute_url }}#comments">comments ({{ story.amount_comments }})</a></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <hr />
  </div>
</div>