{% load thumbnail %}
<div class="relat">
    <div class="main_block story_info" data-pk="{{ story.pk }}">
      <div class="span-8">
        <div class="author">
          <h4>
            {% if story.is_anonymous %}
              <span class="post_auth_name">ANONYMOUS</span>
            {% else %}
              <a class="post_auth_name" href="{{ story.author.get_absolute_url }}">- {{ story.get_username|upper }}</a>
            {% endif %}
          </h4>
        </div>
        <div class="image_prewiew">
          <a href="{{ story.get_absolute_url }}" title="">
            {% thumbnail story.cover "360x240" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
          </a>
        </div>
      </div>

      <div class="top_block_info span-9">
        <div class='ribbon'>
          <a class="ribbon_link  tag_theme" href='{{ story.get_absolute_url }}'>
            <span class="ribbon_text">{{ story.title|slice:"19"|upper }}</span>
          </a>
        </div>
        <div class="down_line green_text">
          <form class="down_line_buttons" action="#" data-url="{% url 'voting:vote' object='story' pk=story.pk %}" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <td><span class="story_rating">{{ story.rating }}</span></td>
                <td><button class="send_vote rating_up" value="up" name="direction"></button></td>
                <td><button class="send_vote rating_down" value="down" name="direction"></button></td>
                <td><a class="current green_text_hover view_comment" href="{{ story.get_absolute_url }}#comments">comments ({{ story.amount_comments }})</a></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
</div>

