@font-face {
    font-family: 'Futura_LightNormalRegular';
    src: url('futura_light-normal.eot');
    src: url('futura_light-normal.eot') format('embedded-opentype'),
         url('futura_light-normal.woff2') format('woff2'),
         url('futura_light-normal.woff') format('woff'),
         url('futura_light-normal.ttf') format('truetype'),
         url('futura_light-normal.svg#Futura_LightNormalRegular') format('svg');
}
