/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */
@font-face {
    font-family: "futura_light";

    src: url('fonts/Futura_Light/futura_light-normal.eot?#iefix');
    src: url('fonts/Futura_Light/futura_light-normal.eot') format('embedded-opentype'),
         url('fonts/Futura_Light/futura_light-normal.woff2') format('woff2'),
         url('fonts/Futura_Light/futura_light-normal.woff') format('woff'),
         url('fonts/Futura_Light/futura_light-normal.ttf') format('truetype'),
         url('fonts/Futura_Light/futura_light-normal.svg#futura_light') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline; font-family: "futura_light";}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;
  background: none;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;
  background: none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
a img:focus {outline:0;}

input::-moz-focus-inner{border: 0;padding: 0}
button::-moz-focus-inner {border: 0;padding: 0;}


/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"futura_light";}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:32px;margin-bottom:1px;}
h2 {font-size:26px;margin-bottom:1px;}
h3 {font-size:26px;margin-bottom:1px;}
h4 {font-size:20px;margin-bottom:1px;}
h5 {font-size:16px;margin-bottom:1px;}
h6 {font-size:12px;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 3px;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
.center{
  margin-left:auto;
  margin-right:auto;
}


a:link{}
a:visited{}


a:focus, a:hover {
  color:rgb(30, 30, 30);

  transition-property: color;
  transition-duration: 0.3s;
  transition-delay: 0s, 1s;
  outline: none;
}



.active_menu{
  text-decoration:none;
  color: black;
}

.post_auth_name{
  text-decoration:none;
  color: black;
}
.post_auth_name:focus, .post_auth_name:hover {
  border-bottom:1px solid black;
  transition-property: border-bottom;
  transition-duration: 0.3s;
  transition-delay: 0.1s, 1s;
}



a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em "futura_light", 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 0em 0em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
tbody tr:nth-child(even) td, tbody tr.even td {}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.center {text-align: center;}

/* forms.css */
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {font-family: futura_light;background-color:#fff;border:1px solid #bbb;color:#000;outline:none;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border:none;outline:none;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:4px;margin-bottom:2px;border:2px solid #ddd; font-size:18px;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* grid.css */
.container {width:1128px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:0px;}
.last {margin-right:-1px;}
.span-1 {width:47px;}
.span-2 {width:94px;}
.span-3 {width:141px;}
.span-4 {width:188px;}
.span-5 {width:235px;}
.span-6 {width:282px;}
.span-7 {width:329px;}
.span-8 {width:376px;}
.span-9 {width:423px;}
.span-10 {width:470px;}
.span-11 {width:517px;}
.span-12 {width:564px;}
.span-13 {width:611px;}
.span-14 {width:658px;}
.span-15 {width:705px;}
.span-16 {width:752px;}
.span-17 {width:799px;}
.span-18 {width:846px;}
.span-19 {width:893px;}
.span-20 {width:940px;}
.span-21 {width:987px;}
.span-22 {width:1034px;}
.span-23 {width:1081px;}
.span-24 {width:1128px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:35px;}
input.span-2, textarea.span-2 {width:82px;}
input.span-3, textarea.span-3 {width:129px;}
input.span-4, textarea.span-4 {width:176px;}
input.span-5, textarea.span-5 {width:223px;}
input.span-6, textarea.span-6 {width:270px;}
input.span-7, textarea.span-7 {width:317px;}
input.span-8, textarea.span-8 {width:364px;}
input.span-9, textarea.span-9 {width:411px;}
input.span-10, textarea.span-10 {width:458px;}
input.span-11, textarea.span-11 {width:505px;}
input.span-12, textarea.span-12 {width:552px;}
input.span-13, textarea.span-13 {width:599px;}
input.span-14, textarea.span-14 {width:646px;}
input.span-15, textarea.span-15 {width:693px;}
input.span-16, textarea.span-16 {width:740px;}
input.span-17, textarea.span-17 {width:787px;}
input.span-18, textarea.span-18 {width:834px;}
input.span-19, textarea.span-19 {width:881px;}
input.span-20, textarea.span-20 {width:928px;}
input.span-21, textarea.span-21 {width:975px;}
input.span-22, textarea.span-22 {width:1022px;}
input.span-23, textarea.span-23 {width:1069px;}
input.span-24, textarea.span-24 {width:1116px;}
.append-1 {padding-right:47px;}
.append-2 {padding-right:94px;}
.append-3 {padding-right:141px;}
.append-4 {padding-right:188px;}
.append-5 {padding-right:235px;}
.append-6 {padding-right:282px;}
.append-7 {padding-right:329px;}
.append-8 {padding-right:376px;}
.append-9 {padding-right:423px;}
.append-10 {padding-right:470px;}
.append-11 {padding-right:517px;}
.append-12 {padding-right:564px;}
.append-13 {padding-right:611px;}
.append-14 {padding-right:658px;}
.append-15 {padding-right:705px;}
.append-16 {padding-right:752px;}
.append-17 {padding-right:799px;}
.append-18 {padding-right:846px;}
.append-19 {padding-right:893px;}
.append-20 {padding-right:940px;}
.append-21 {padding-right:987px;}
.append-22 {padding-right:1034px;}
.append-23 {padding-right:1081px;}
.prepend-1 {padding-left:47px;}
.prepend-2 {padding-left:94px;}
.prepend-3 {padding-left:141px;}
.prepend-4 {padding-left:188px;}
.prepend-5 {padding-left:235px;}
.prepend-6 {padding-left:282px;}
.prepend-7 {padding-left:329px;}
.prepend-8 {padding-left:376px;}
.prepend-9 {padding-left:423px;}
.prepend-10 {padding-left:470px;}
.prepend-11 {padding-left:517px;}
.prepend-12 {padding-left:564px;}
.prepend-13 {padding-left:611px;}
.prepend-14 {padding-left:658px;}
.prepend-15 {padding-left:705px;}
.prepend-16 {padding-left:752px;}
.prepend-17 {padding-left:799px;}
.prepend-18 {padding-left:846px;}
.prepend-19 {padding-left:893px;}
.prepend-20 {padding-left:940px;}
.prepend-21 {padding-left:987px;}
.prepend-22 {padding-left:1034px;}
.prepend-23 {padding-left:1081px;}
.border {padding-right:-1px;margin-right:0px;border-right:1px solid #ddd;}
.colborder {padding-right:23px;margin-right:23px;border-right:1px solid #ddd;}
.pull-1 {margin-left:-47px;}
.pull-2 {margin-left:-94px;}
.pull-3 {margin-left:-141px;}
.pull-4 {margin-left:-188px;}
.pull-5 {margin-left:-235px;}
.pull-6 {margin-left:-282px;}
.pull-7 {margin-left:-329px;}
.pull-8 {margin-left:-376px;}
.pull-9 {margin-left:-423px;}
.pull-10 {margin-left:-470px;}
.pull-11 {margin-left:-517px;}
.pull-12 {margin-left:-564px;}
.pull-13 {margin-left:-611px;}
.pull-14 {margin-left:-658px;}
.pull-15 {margin-left:-705px;}
.pull-16 {margin-left:-752px;}
.pull-17 {margin-left:-799px;}
.pull-18 {margin-left:-846px;}
.pull-19 {margin-left:-893px;}
.pull-20 {margin-left:-940px;}
.pull-21 {margin-left:-987px;}
.pull-22 {margin-left:-1034px;}
.pull-23 {margin-left:-1081px;}
.pull-24 {margin-left:-1128px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -47px 1.5em 47px;}
.push-2 {margin:0 -94px 1.5em 94px;}
.push-3 {margin:0 -141px 1.5em 141px;}
.push-4 {margin:0 -188px 1.5em 188px;}
.push-5 {margin:0 -235px 1.5em 235px;}
.push-6 {margin:0 -282px 1.5em 282px;}
.push-7 {margin:0 -329px 1.5em 329px;}
.push-8 {margin:0 -376px 1.5em 376px;}
.push-9 {margin:0 -423px 1.5em 423px;}
.push-10 {margin:0 -470px 1.5em 470px;}
.push-11 {margin:0 -517px 1.5em 517px;}
.push-12 {margin:0 -564px 1.5em 564px;}
.push-13 {margin:0 -611px 1.5em 611px;}
.push-14 {margin:0 -658px 1.5em 658px;}
.push-15 {margin:0 -705px 1.5em 705px;}
.push-16 {margin:0 -752px 1.5em 752px;}
.push-17 {margin:0 -799px 1.5em 799px;}
.push-18 {margin:0 -846px 1.5em 846px;}
.push-19 {margin:0 -893px 1.5em 893px;}
.push-20 {margin:0 -940px 1.5em 940px;}
.push-21 {margin:0 -987px 1.5em 987px;}
.push-22 {margin:0 -1034px 1.5em 1034px;}
.push-23 {margin:0 -1081px 1.5em 1081px;}
.push-24 {margin:0 -1128px 1.5em 1128px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:left;position:relative;}
div.prepend-top, .prepend-top {margin-top:1em;}
div.append-bottom, .append-bottom {margin-bottom:1em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:15 0 5px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* fancy-type */
p + p {text-indent:2px;margin-top:0px;}
form p + p {text-indent:0;}
.alt {color:#666;font-family: "futura_light", "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif, "futura_light"; font-style:italic;font-weight:normal;}
.dquo {margin-left:-.5em;}
p.incr, .incr p {font-size:10px;line-height:1.44em;margin-bottom:3px;}
.caps {font-variant:small-caps;letter-spacing:1px;text-transform:lowercase;font-size:1.2em;line-height:1%;font-weight:bold;padding:0 2px;}

/* buttons */
a.button, button {display:block;outline:none;float:left;margin:5px 0em 0em 0;padding:0px 0px 0px 0px;background-color:transparent;font-family: "futura_light", "Lucida Grande", Tahoma, Arial, Verdana, sans-serif, "futura_light";font-size:100%;line-height:130%;text-decoration:none;border-style: none;}
button {width:auto;outline:none;overflow:visible;padding:0px 0px 0px 0px;border-style: none;}
*:first-child+html button[type] {padding:4px 10px 3px 7px;}
button img, a.button img {margin:0 3px -3px 0 !important;padding:0;width:16px;height:16px;float:none;border-style: none;}
a.button:active {background-color:#6299c5;color:#fff;border-style: none;outline:none;}
body .positive {color:#529214;}
a.positive:hover, button.positive:hover {background-color:#E6EFC2;color:#529214;}
a.positive:active {background-color:#529214;color:#fff;outline:none;}
body .negative {color:#d12f19;}
a.negative:hover, button.negative:hover {background-color:#fbe3e4;border:0px solid #fbc2c4;color:#d12f19;}
a.negative:active {background-color:#d12f19;color:#fff;}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{border : 0px;} 
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus{outline : none;]}

.heading{
  background:#FFF;
  vertical-align: top;
}

.current{
  text-decoration:none;
  color:#778899;
}

.active_menu{
  text-decoration:none;
  color: black;
}

.date_message{
  font-size: 15px;
  text-align: right;
  margin-bottom: 0px;
}

.green_text{
  color: rgb(0, 200, 85);
}
.green_text_hover{
  color: rgb(0, 200, 85);
}

.green_text_hover:hover,
.green_text_hover:focus,
.green_text_hover:active {
  color:rgb(0, 170, 55);
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0s, 1s;
}

.red_text{
  color: red;
}

.author{
  text-align: right;
}

.tag_theme{
  margin-left: 10px;
}

.theme_message{
  background-color: rgb(0, 200, 85);
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  text-decoration:none;
  color: white;
}
.theme_message_full{
  background-color: rgb(0, 200, 85);
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  text-decoration:none;
  color: white; 
}

.story_preview{
  font-size: 22px;
  margin-left: 10px;
}
.down_line{
  margin-left: 10px;
}

.current_green{
  text-decoration:none;
  color:rgb(0, 200, 85);  
}

.follow_link{
  font-size: 22px;
}

.follow_unfollow_form{
  padding-top: 0px;
  margin-top: -15px;
}

.bigs{ 
    height: 50px; 
    overflow: hidden; 
    width: 400px 
} 
.bi-left, .bi-right{ 
    background:#b61d1e; 
    height: 100%; 
    width: 80%;} 
.bi-left{ 
    float: left; 
    transform: skew(45deg);} /* задаём скос и наложение друг на друга путём float. */
.bi-right{ 
    transform: skew(-45deg);} /* задаём скос дива */ 

.fullstory_stat{
    margin-top: 100px;
    margin-right: 30px;
    font-size: 20px;
}
.row-1{
  margin: 0px;
  padding:0px, 0px, 0px, 1px;
  width:70%;
  color:#778899;
}

.row-2{
  margin: 0px;
  padding:0px, 0px, 0px, 1px;
  text-align:right;
  width:30%;
}

.story_text{
  text-indent:75px;
  font-size: 26px;
  text-align: justify;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.comment {
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: justify;
  background-color:white;
}

.comment_text{
  padding-top:50px;
  font-size: 20px;
  white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.comment_date{
  padding-left: 20px;
}

.comment_rating{
  position: relative;
  top: -8px;
}

.profile_num{
  font-size: 3em;
  text-align: center;
  color: rgb(0, 200, 85);
}
.description_area{
  position: relative;
  left: 10px;
}
.description_area input{
  border:none;
  font: futura_light;
  font-size:22px;
  font-style: italic;
  margin-left: 10px;
}

.self_info{
  border:none;
  font: futura_light;
  font-style: italic;
}

.login_header{
  font-size:40px;
}

.login_header td:nth-child(2){
  padding-left: 15px;
}
.login_become{
  position: relative;
  top: -35px;
}

.login_text{
  font-size:35px;
  color:#778899;
}

.nick_name{
  text-align: right;
}

#left_pad{
  padding-left:10px;
}

form #search_request{
  height: 40px;
  font-family: futura_light;
  color:rgb(0, 200, 85);
  width: 900px;
}


#search_request{
  font-size: 40px;
  border: none;
  text-decoration:none;
  color:rgb(0, 200, 85);
}

p {
    font-family: futura_light;
}

.green_border{
  border:1px solid rgb(0, 200, 85);
  padding: 10px;
  margin: 10px;
  font: 15px futura_light;
}

.checkbox {
  position:relative;
  padding-left:20px;
  font-size: 20px;
  top:2px;
}
.checkbox input[type=checkbox] {
  display:none;
}
.checkbox label:after {
  content:'';
  display:block;
  height:14px;
  width:14px;
  outline:1px solid rgb(0, 200, 85);
  position:absolute;
  top:6px;
  left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
  outline:1px solid rgb(0, 200, 85);
  border:2px solid #fff;
  width:10px;
  height:10px;
  background-color:rgb(0, 200, 85);
}

.checkbox_2 {  position:relative;  padding-left:25px; margin:10px 1px; font-size: 20px;}
.checkbox_2 input[type=checkbox] {display:none;}
.checkbox_2 label:after {
  content:'';
  display:block;
  height:14px;
  width:14px;
  outline:1px solid rgb(0, 200, 85);
  position:absolute;
  top:6px;
  left:0;
}
.checkbox_2 input[type=checkbox]:checked + label:after {
  outline:1px solid rgb(0, 200, 85);
  border:2px solid #fff;
  width:10px;
  height:10px;
  background-color:rgb(0, 200, 85);
}

.container_upload {
  width:100%;
  margin:10px auto 0;
  height:60px;
}
.upload {
  position:relative;
  font-family: futura_light;
}
.upload > input[type=file] {
  display:block;
  width:100%;
  height:100%;
  opacity:0;
  -moz-focus-inner{border: 0;padding: 0}
}
.upload > .btn {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  border:solid 1px rgb(0, 200, 85);
  border-radius:2px;
  text-align:center;
  font-size:25px;
  line-height: 60px;
  z-index:0;
  font-family: futura_light;
  -moz-focus-inner {border: 0;padding: 0;}

}
.btn{
  background:rgb(0, 200, 85);
}

.upload:hover > .btn {
  color:rgb(235, 235, 235);
  background:rgb(0, 170, 55);
  transition-property: all;
  transition-duration: 0.3s;
}
.upload:active > .btn {
  background:rgb(0, 170, 55);
  color:rgb(235, 235, 235);
} ​

.container_upload_profile {
  width:100%;
  height:140px;
}
.upload > .btn_profile {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:140px;
  background:rgb(0, 200, 85);
  text-align:center;
  font-size:25px;
  font-family: futura_light;
}
.upload:hover> .btn_profile {
  background-color:rgb(0, 180, 65);
  height: 140px;
  transition-property: all;
  transition-duration: 0.1s;
}

.block_container{
  content:"";
  display: block;
/* начало тени */
    border-top: 20px solid rgb(0, 200, 85);
    border-bottom: 20px solid rgb(0, 200, 85);
    border-left: 20px solid rgb(0, 200, 85);
    border-right: 20px solid transparent;
}
.me_nu {
  position: relative;
  left:-30px;
  font-size: 20px;
}
.menu__item {
  list-style-type: none;
}
.menu__item__sublist {
  display: none;
  position: absolute;
  top:5px;
}
.menu__item:hover .menu__item__sublist {
  display: inline-block; 
}
.menu__item__sublist_item {
  list-style-type: none;
  font-size: 26px;
}

#button_clip{
  background: url(../../images/buttons.png) no-repeat;
  position:relative;
  background-position: 0px -290px ;
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 10px;

}
.close_button{
  font-family:Tahoma;
  font-size:35px;
  color:rgb(0, 200, 85);
  text-decoration: none;
  border-style: none;
  z-index: 10000;
  position: absolute;
  right: 40px;
  margin-top: -30px;
}
.grey_ribbon{
  padding-top:0px;
  padding-bottom:44px;
  padding-right:19px;
  position:relative;
  height:0px;
  background:url("../../images/ribbon_grey1.png");
  text-decoration:none;
}

.grey_ribbon:after{
  content:"";
  display:inline-block;    
  position:absolute;    
  height:44px;
  width:34px;
  top:0;
  right: -30px;
  background:url("../../images/ribbon_grey2.png") no-repeat;
}

.button_2{
  margin-left: 0px;
  font-family: futura_light;
}
.button_profile{
  border: none;
  position: relative;
  margin: 0px;
  padding: -5px;
  left:-1px;
  background: none; 
}

.block_info{padding-top: 5px;}

.down_line_buttons table{margin-top: -10px;font-size:24px; background: none;}
.down_line_buttons td:nth-child(1){padding-right: 5px;}
.down_line_buttons td:nth-child(1){width: 20px;}
.down_line_buttons td:nth-child(2){width: 10px;}
.down_line_buttons td:nth-child(3){width: 15px;}

.story_down_line{width:540px;padding-left: 5px; position: relative;top: -35px;}
.story_down_line table{font-size:24px;position:relative; top:-1px; padding-left: 10px;}
.story_down_line td:nth-child(1){padding-right:15px;font:24px; width:25px;}
.story_down_line td:nth-child(2){width: 78px;}
.story_down_line td:nth-child(3){width: 165px;}
.story_down_line td:nth-child(4){width: 15px;}
.story_down_line td:nth-child(5){}

.in_bookmarks_block .send_button{
  margin: 0 0 0 0;
  padding-top: 5px;
}
.in_bookmarks_block >.green_text{
    vertical-align: middle;
    margin-left: 15px;
}

.comment table{position: relative;float: right;font-size:22px;}
.comment table td:nth-child(1){width: 15px;}
.comment table td:nth-child(2){width: 15px;}
.comment td:nth-child(1){padding-right:10px;font: 24;vertical-align:right;}


.green_placeholder::-moz-placeholder { color: rgb(0,200,85); }
.green_placeholder::-webkit-input-placeholder { color: rgb(0,200,85); }
.red_placeholder::-moz-placeholder { color: red; }
.red_placeholder::-webkit-input-placeholder { color: red; }

#anonimous{
  position:relative;
  top: -25px;
}

.green_button, .red_button, .transparent_text, .red_transparent_text, .transparent_text2, .red_transparent_text2{background: url(../../images/buttons.png) no-repeat;}

.transparent_text{
  padding:16px; 
  background-position: 0px -160px ;
  width: 363px;
  height: 22px;
}
.red_transparent_text{
  padding:13px;
  background-position: -57px -266px ;
  width: 363px;
  height: 26px;
  color:red;
}
.transparent_text2{
  padding-right: 15px;
  margin-left:10px; 
  background-position: 0px -215px ;
  width: 653px;
  height: 35px;
}
.red_transparent_text2{
  padding-right: 15px;
  margin-left:10px;
  background-position: 0px -343px ;
  width: 653px;
  height: 35px;
}

#id_title {
  font-size: 22px;
  padding-left: 10px;
  height:50px;
  border: none;
}
.green_button{
  background-position: 0px -80px ;
  width: 363px;
  height: 40px;
  font-family: "futura_light";
  font-size: 24px;
  color:white;
  border-style: none;
}
.green_button:hover{
  background-position: 0px -120px ;
  width: 363px;
  height: 40px;
  font-size: 24px;
  color:white;
  transition-delay: 0.1s, 0s;
  text-decoration: none;
  border-style: none;
}

.red_button{
  background-position: 0px 0px ;
  width: 363px;
  height: 40px;
  font-family: "futura_light";
  font-size: 24px;
  color:white;
  border-style: none;
}
.red_button:hover{
  background-position: 0px -40px ;
  width: 363px;
  height: 40px;
  font-size: 24px;
  color:white;
  border-style: none;
  transition-delay: 0.1s, 0s;
  text-decoration: none;
}
.green_button:active{
  border-style: none;
  background-position: 0px -120px;
  color:rgb(235, 235, 235);
  margin-top:16px;
  outline: none;
} ​
.red_button:active{
  border-style: none;
  background-position: 0px -40px;
  color:rgb(235, 235, 235);
  margin-top:16px;
}​
.green_button:focus {outline: none;}
.red_button:focus {outline: none;}



.right_line{
  width:130px;
  background-color: white;
  position:relative;
  top: -23px;
}
 .clip, .facebook_logo, .green_star, .facebook_logo_2, .login, .login_logo, .logout, .rating_down, .rating_down2, .rating_down_grey, .rating_down_grey2, .rating_up, .rating_up2, .rating_up_grey, .rating_up_grey2, .ribbon2, .ribbon12, .ribbon22, .ribbon_grey1, .ribbon_grey2, .search-icon-hi, .search-icon-hi_2, .star_ico, .star_icon1, .star_icon2, .tw_logo, .tw_logo_2, .white_ribbon2, .clip{
  background: url(../../images/sprites.png) no-repeat;
}

.clip{
  background-position: -214px -488px ;
  width: 40px;
  height: 36px;
}

.facebook_logo{
  background-position: -194px -295px ;
  width: 184px;
  height: 185px;
  display: inline-block;
}

.facebook_logo:hover{
  background-position: -5px -295px ;
  width: 184px;
  height: 185px;

  transition-property: background;
  transition-delay: 0.1s, 1s;
}

.login{
  background-position: -111px -200px ;
  width: 50px;
  height: 87px;
}

.login_logo{
  background-position: -211px -202px ;
  width: 27px;
  height: 49px;
}

.rating_down{
  background-position: -302px -262px ;
  width: 25px;
  height: 14px;
  cursor: pointer;
}

.rating_down:hover{
  background-position: -301px -242px ;
  width: 25px;
  height: 14px;
}

.rating_down_grey{
  background-position: -251px -244px ;
  width: 25px;
  height: 14px;
  cursor: pointer;
}

.rating_down_grey:hover{
  background-position: -251px -262px ;
  width: 25px;
  height: 14px;
}

.rating_up{
  background-position: -302px -218px ;
  width: 25px;
  height: 14px;
  cursor: pointer;
}

.rating_up:hover{
  background-position: -301px -201.05px ;
  width: 25px;
  height: 14px;
}

.green_star{
  background-position: -345px -187px ;
  height: 40px;
  padding-left: 30px;
}

.rating_up_grey{
  background-position: -251px -221px ;
  width: 25px;
  height: 14px;
  cursor: pointer;
}

.rating_up_grey:hover{
  background-position: -251px -202px ;
  width: 25px;
  height: 14px;
}

.ribbon1{
  background: url(../../images/sprites.png)repeat-x;
  background-position: -153px -487px ;
  width: 17px;
  height: 45px;
}

.ribbon2{
  background-position: -119px -487px ;
  width: 27px;
  height: 45px;
}

.ribbon12{
  background-position: -95px -487px ;
  width: 17px;
  height: 45px;
}

.ribbon22{
  background-position: -63px -487px ;
  width: 27px;
  height: 45px;
}

.ribbon_grey1{
  background-position: -40px -486px ;
  width: 17px;
  height: 45px;
}

.ribbon_grey2{
  background-position: -7px -487px ;
  width: 27px;
  height: 45px;
}

.search-icon-hi{
  background-position: -193px -263px ;
  width: 15px;
  height: 15px;
  padding-left: 20px;
  color: rgb(0, 200, 85);
}

.search-icon-hi:hover{
  background-position: -168.5px -263px ;
  width: 15px;
  height: 15px;
  color:rgb(0, 170, 55);
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0s, 1s;
}

.star_ico{
  background-position: -168px -201px ;
  width: 34px;
  height: 62px;
}

.star_ico:hover{
  background-position: -129px -201px ;
  width: 34px;
  height: 62px;
}

.star_icon1{
  background-position: -57px -200px ;
  width: 50px;
  height: 89px;
  display: inline-block;
}

.star_icon2{
  background-position: -2px -200px ;
  width: 50px;
  height: 89px;
}

.tw_logo{
  background-position: -189px -2px ;
  width: 184px;
  height: 185px;
  display: inline-block;
  margin-left: 80px;
}

.tw_logo:hover{
  background-position: -2px -2px ;
  width: 184px;
  height: 185px;
  transition-property: background;
  transition-delay: 0.1s, 1s;
}

.white_ribbon2{
  background-position: -179px -487px ;
  width: 27px;
  height: 45px;
}

.clip{
  background-position: -269px -489px ;
  width: 40px;
  height: 40px;
}

#supa_logout{
  position: absolute;
  top:10px;
  right:10px;
}

#mod_add_story_form_content2{
  display: none;
}

#multiple-label-example{
   width:420px;
}

.endless_more{
    display:none;
}
.user-block{
  text-align: right;
}
.logout{
  height: 25px;
  vertical-align: middle;
  position: relative;
  top: -12px;
  color:rgb(208,208,208);
  font-size: 20px;
  padding-left: 25px;
  text-decoration: none;
  background-position: -335px -219px ;
}
.logout:hover, .logout:focus{
  color:rgb(178,178,178);
  background-position: -335px -250px ;
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0s, 1s;
}

#add_comment_reply_form{
  display:none;
}
#add_comment_form{
  margin-bottom: 35px;
}

.comment_branch_level_2{
  margin-left: 60px;
}

#found_info{
  display: none;
}

.top_block_info {
  margin-left:-10px;
  padding-top: 10px;
}

.select2-container--default .select2-selection--multiple {
  width: 370px !important;
  border: 1px solid #00c855 !important;
  border-radius: 0 !important;
}

.select2-search__field {
  width: 340px !important;
  color: #999 !important;
  font-family: futura_light,sans-serif,futura_light !important;
  font-size: 20px !important;
  height: 25px !important;
}

.ribbon{
  display: inline-block;
}

.ribbon_link:after {
  content: "";
  float:right;
  border:24px solid rgb(0,200,85);
  border-right-color:transparent;

    -webkit-transition: all 0.2s, margin-top 0.2s;
    -moz-transition: all 0.2s, margin-top 0.2s;
    -ms-transition: all 0.2s, margin-top 0.2s;
    -o-transition: all 0.2s, margin-top 0.2s;
    transition: all 0.2s, margin-top 0.2s;
}

.ribbon_link:hover .ribbon:after, .ribbon_link:focus .ribbon:after, .ribbon_link:active .ribbon:after {
  border:24px solid #00aa37;
}

.ribbon_text {
    background: rgb(0,200,85);
    display:inline-block;
    line-height:42px;
    padding:3px 10px;
    position:relative;
    color: white;
    font-size: 28px;

    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    -o-transition: background-color 0.2s, margin-top 0.2s;
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon_link:link, .ribbon_link:visited {
    color:#333333;
    text-decoration:none;
    float:left;
    height:50px;
    overflow:hidden;
}

.ribbon_link:hover .ribbon_text,
.ribbon_link:focus .ribbon_text,
.ribbon_link:active .ribbon_text{
    background: rgb(0,170,55);
}
.ribbon_link:hover:after, .ribbon_link:focus:after {
  border:24px solid rgb(0,170,55);
  border-right-color:transparent;
}

.ribbon_button_text {
    background: rgb(0,200,85);
    display:inline-block;
    line-height:44px;
    padding:0 0 0 10px;
    position:relative;
    color: white;
    font-size: 24px;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    -o-transition: background-color 0.2s, margin-top 0.2s;
    transition: background-color 0.2s, margin-top 0.2s;
}
.ribbon_button_text:after {
  position: relative;
  left: 22px;
  content: "";
  float:right;
  border:22px solid rgb(0,200,85);
  border-right-color:transparent;

    -webkit-transition: all 0.2s, margin-top 0.2s;
    -moz-transition: all 0.2s, margin-top 0.2s;
    -ms-transition: all 0.2s, margin-top 0.2s;
    -o-transition: all 0.2s, margin-top 0.2s;
    transition: all 0.2s, margin-top 0.2s;
}

.ribbon_button:hover > .ribbon_button_text:after {
  border: 22px solid rgb(0, 170, 55);
  border-right-color: transparent;
}

.ribbon_button:hover > .ribbon_button_text {
    background: rgb(0,170,55);
}

.cursor_pointer {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: block;
  text-decoration:none;
}

.in_tooltip {
  position: absolute;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  background: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition-delay: 1s;
  bottom: 50px;
  left: 50%;
  margin-left: -76px;
}

.in_tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 0 0 10px -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.in_tooltip_share {
  background: #ebebeb;
  width:140px;
  height: 60px;
}

.in_tooltip_share:after {
  border-top-color: #ebebeb;
}

.tooltip:hover .in_tooltip {
  visibility: visible;
  z-index: 999;
  opacity: 1;
  transition-delay:0s;
}
.social{
    display:inline-block;
    width:40px;
    height:40px;
    vertical-align:middle;
    margin-top: 10px;
}
.social-fb{
  background: rgb(82, 109, 163) url(../../images/sprites.png) no-repeat;
  background-position: -315px -481px ;
  margin-right: 10px;
}
.social-tw{
  background: rgb(115, 191, 230) url(../../images/sprites.png) no-repeat;
  background-position: -349px -483px ;
}
.social-fb:hover{
  background-color: rgb(62, 89, 143);
    -webkit-transition: all 0.2s, margin-top 0.2s;
    -moz-transition: all 0.2s, margin-top 0.2s;
    -ms-transition: all 0.2s, margin-top 0.2s;
    -o-transition: all 0.2s, margin-top 0.2s;
    transition: all 0.2s, margin-top 0.2s;
}
.social-tw:hover{
  background-color: rgb(95, 171, 210);
    -webkit-transition: all 0.2s, margin-top 0.2s;
    -moz-transition: all 0.2s, margin-top 0.2s;
    -ms-transition: all 0.2s, margin-top 0.2s;
    -o-transition: all 0.2s, margin-top 0.2s;
    transition: all 0.2s, margin-top 0.2s;
}
.error_labeles{
  margin: 3px 0px;
  color: red;
  font-size:24px;
}
.invalid_text_area{
  border:1px solid red!important;
}
.invalid_story_cover_btn{
  border:1px solid red!important;
  background:red!important;
}
#cke_comment_text{
  border: 1px solid rgb(0,200,85);
}
#cke_story_textarea{
   border: 1px solid rgb(0,200,85);
}
#cke_comment_text_reply{
   border: 1px solid rgb(0,200,85);
  margin-left:95px;
}
.cke_top{
  background:none!important;
}
.reply_comment{
  display:block;
  padding: 3px 6px;
  background: rgb(0,200,85);
  color:rgb(250,250,250);
  text-decoration: none;
  width:167px;
  font-size:20px;
  margin-left: 95px;
}
.reply_comment:hover{
  background: rgb(0,170,55);
  color:rgb(250,250,250);
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s, 1s;
}
#comment_reply__send_button{
  margin-left: 2px;
  font-family: "futura_light", Tahoma, Arial, Verdana, sans-serif, "futura_light";
  border: 1px solid rgb(0, 200, 85);
  background: rgb(0, 200, 85);
  padding: 3px 15px;
  color: #ffffff;
  font-size: 17px;
  margin-top: 1px;
  float:right;
  height:26px;
}

#comment_reply__send_button:hover{
  border: 1px solid rgb(0, 170, 55);
  background: rgb(0, 170, 55);
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s, 1s;
}

.reply_comment_cancel{
  font-family: "futura_light", Tahoma, Arial, Verdana, sans-serif, "futura_light";
  text-decoration: none;
  background: rgb(200, 80, 85);
  padding: 0px 14px;
  color: #ffffff!important;
  font-size: 16px;
  margin-top: 1px;
  float:right;
  height:26px;
}
.reply_comment_cancel:hover{
  background: rgb(170, 50, 55);
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s, 1s;
}