{% if author != request.user %}

  <form class="current ajax_form" action="#" method="post"
        data-url="{% url 'accounts:follow_unfollow' %}" data-after_event="after_follow_unfollow">
    {% csrf_token %}
    <input type="hidden" name="author_pk" value="{{ author.pk }}">
    <div class='ribbon'>
      <button class="ribbon_button cursor_pointer" type="submit">
          <span class="ribbon_button_text">
            {% if author in request.user.followings.all %}UNFOLLOW{% else %}FOLLOW{% endif %}
          </span>
      </button>

    </div>
  </form>
{% endif %}
