{% extends 'base.html' %}

{% block title %}
    Welcome >_> || promo page ;p
{% endblock %}

{% block content %}
    <h1>hello world</h1>
    {% include 'stories/parts/detail.html' %}
    <br><br><br><br>
    the best site of all time<br><br>
    another promo text <br><br>
    here doesn't could be your ad<br><br>
{% endblock %}
