{% extends 'base.html' %}

{% block title %}
  tops
{% endblock %}

{% block content %}
  <div class="span-18">
    <div class='span-9'>
    <h4 class="green_text center">STORIES</h4>
      {% for story in top_stories %}
        {% include 'stories/parts/top_preview.html' %}
      {% empty %}
        Sorry, no stories >_>
      {% endfor %}
    </div>

    <div class='span-9 last'>
    <h4 class="green_text center">AUTHORS</h4>
      {% for author in top_authors %}
        {% include 'accounts/parts/top_preview.html' %}
      {% empty %}
        Sorry, no authors >_>
      {% endfor %}
    </div>
  </div>
{% endblock %}
