{% load staticfiles %}
{% load compress %}

{% compress css %}
    {% if additional_css %}
        {% for css in additional_css %}
            <link rel="stylesheet" type="text/css" href="{{ css }}" />
        {% endfor %}
    {% endif %}
{% endcompress %}

{% compress js %}
    {% if additional_scripts %}
        {% for script_name in additional_scripts %}
            <script src="{{ script_name }}"></script>
        {% endfor %}
    {% endif %}
{% endcompress %}

<div class="container">
    {% block modal_content %}
    {% endblock %}
</div>