{% extends 'modals/base_modal.html' %}
{% block modal_content %}
      <div class="prepend-3 span-18 last">
        <form class="ajax_form" name="edit_story_form" method="post" action="#" enctype="multipart/form-data"
          data-url="{{ form_action }}" data-before_event="before_edit_story" data-after_event="after_edit_story">
            {% csrf_token %}
    {# add1 #}
          <div id='mod_add_story_form_content1'>
            <div class="span-14 last">
              <p id='err_title' class='error_labeles'></p>
            </div>
            <div class="span-14 last">
              <label for="id_title" class="label" ></label>
              {{ form.title }}
            </div>

            <div class="span-3 last checkbox prepend-top current right">
              {{ form.anonymous }}<label for="anonimous" class="cursor_pointer">Anonimous story?</label>
            </div>

            <div class="span-18 last">
              <p id='err_story_text' class='error_labeles'></p>
            </div>
            <div class="span-18 last">
              <label for="id_story_text" class="label"></label>
              {{ form.story_text }}
            </div>
            <div class="span-18 last">
              <p id='err_cover' class='error_labeles'></p>
            </div>

            <div class="span-18 last container_upload upload">
              <label for="id_cover" class="label"></label>
              <span class="btn story_cover_btn" id="story_cover_btn">CHOOSE YOU STORY COVER<span id="button_clip" ></span></span>
              {{ form.cover }}
            </div>

            <div class="span-7">
              <button id="edit_story_form_next" class="green_button cursor_pointer" type="button"><span class="white_text">NEXT</span></button>
            </div>

            {% if form.instance.pk %}
              <div class="prepend-2 span-8 right">
                <button onsubmit="return checkForm(this)" id="edit_story_form_delete" class="red_button cursor_pointer" type="button" data-delete_url="{{ form_delete }}">
                  <span class="white_text">DELETE THIS STORY</span>
                </button>
              </div>

            {% endif %}
          </div>
    {# add2 #}
          <div id='mod_add_story_form_content2'>
            <div class="span-14 last">
              <p id='err_tags' class='error_labeles'></p>
            </div>
              <div class="span-9 last prepend-top">
                <h4 class="transparent_text green_text" id="tags_header"> CHOOSE CATEGORY OF YOU STORY </h4>
              </div>

              <div class="span-12 last">
                {{ form.popular_tags }}
              </div>

              <div id="edit_story_input_tags_block" class="side-by-side clearfix span-16 last">
                <em><label for="multiple-label-example"></label></em>
                {{ form.tags }}
              </div>
              <button class="green_button cursor_pointer" type="submit"><span class="white_text">PUBLISH THIS STORY</span></button>
            </div>
        </form>
      </div>
  {{ form.media }}
{% endblock %}