{% extends 'modals/base_modal.html' %}
{% block modal_content %}
    <div class="prepend-3 span-18 last">
      <form class="ajax_form" name="search_form" method="get" action="#"
            data-url="{% url 'stories:search' %}" data-before_event="before_search" data-after_event="after_search">
        <div class="span-14 green_text">
          <input type="text" name="q" class="green_text" size="60" id="search_request" placeholder=" Type to search...">
        </div>
      </form>
    </div>
    <div id="found_info">
      <div class="span-19 last prepend-3">
        <h3 class="green_text">
          <span id="story_count"></span>
          <span class="current">STORIES</span>
        </h3>
      </div>
    </div>
    <div id="found_block"></div>
{% endblock %}