{% url 'stories:hot' as stories_hot_url %}
{% url 'stories:library' as stories_library_url %}
{% url 'top' as top_url %}
{% url 'stories:feed' as stories_feed_url %}

{% if request.get_full_path == stories_hot_url %}
  <h3><a class="active_menu" href="{{ stories_hot_url }}">HOT</a></h3>
{% else %}
  <h3><a class="current" href="{{ stories_hot_url }}">HOT</a></h3>
{% endif %}
{% if request.get_full_path == top_url  %}
  <h3> <a class="active_menu" href="{{ top_url }}">TOP</a></h3>
{% else %}
    <h3> <a class="current" href="{{ top_url }}">TOP</a></h3>
{% endif %}
{% if request.get_full_path == stories_library_url %}
  <h3><a class="active_menu" href="{{ stories_library_url }}">LIBRARY</a></h3>
{% else %}
  <h3><a class="current" href="{{ stories_library_url }}">LIBRARY</a></h3>
{% endif %}
{% if user.is_authenticated %}
  {% if request.get_full_path == stories_feed_url %}
    <h3><a class="active_menu" href="{{ stories_feed_url }}">FEED</a></h3>
  {% else %}
    <h3><a class="current" href="{{ stories_feed_url }}">FEED</a></h3>
  {% endif %}
{% endif %}

{% if story.get_absolute_url %}
  <div class="fullstory_stat story_info" data-pk="{{ story.pk }}">
    <h4>THIS STORY</h4>
    <hr />
    <table>
    <tr>
      <td class="row-1">Views</td>
      <td class="green_text row-2 story_amount_views">{{ story.amount_views }}</td>
    </tr>
    <tr>
      <td class="row-1">Rating</td>
      <td class="green_text row-2 story_rating">{{ story.rating }}</td>
    </tr>
    <tr>
      <td class="row-1">Comments</td>
      <td class="green_text row-2 story_amount_comments">{{ story.amount_comments }}</td>
    </tr>
    </table>
  </div>
  {% if not story.anonymous %}
    <div class="fullstory_stat user_profile" data-pk="{{ story.author.pk }}">
      {% if user != story.author and story.is_anonymous %}
        <span class="post_auth_name upper">Anonymous</span>
      {% else %}
        <a class="post_auth_name upper" href="{{ story.author.get_absolute_url }}">- {{ story.author }}</a>
      {% endif %}
      <hr/>
      <table>
        <tr>
          <td class="row-1">Stories</td>
          <td class="green_text row-2 user_profile_stories_count">{{ story.author.written_stories.count }}</td>
        </tr>
        <tr>
          <td class="row-1">Readers</td>
          <td class="green_text row-2 user_profile_followers">{{ story.author.followers.count }}</td>
        </tr>
        <tr>
          <td class="row-1">Rating</td>
          <td class="green_text row-2 user_profile_rating">{{ story.author.rating }}</td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endif %}