<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>thestorybay || {% block title %}{% endblock %}</title>

  {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/blueprint/screen.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/arcticmodal.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.growl.css' %}" />
      {% if additional_css %}
          {% for css in additional_css %}
              <link rel="stylesheet" type="text/css" href="{{ css }}" />
          {% endfor %}
      {% endif %}
  {% endcompress %}

  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  {% compress js %}
      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/arcticmodal.js' %}"></script>
      <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
      <script src="{% static 'endless_pagination/js/endless_on_scroll.js' %}"></script>
      <script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
      <script src="{% static 'js/jquery.growl.js' %}"></script>
      <script src="{% static 'js/tools.js' %}"></script>
      <script src="{% static 'js/ajax_form.js' %}"></script>
      <script src="{% static 'js/ajax_form_events.js' %}"></script>
      <script src="{% static 'js/js.js' %}"></script>
      <script src="{% static 'js/jquery.animate-colors-min.js' %}"></script>
      {% if additional_scripts %}
        {% for script_name in additional_scripts %}
          <script src="{{ script_name }}"></script>
        {% endfor %}
      {% endif %}
  {% endcompress %}
</head>

<body>
  <div class="container">
    {% include 'header.html' %}

    <div class="span-4 prepend-top">
      {% include 'aside.html' %}
    </div>

    <div class="span-20 last">
       {% block content %}{% endblock %}
    </div>
  </div>
</body>