<div class="heading container">
  <div class="column span-4 prepend-top">
    <h3><a class="active_menu green_text_hover" href="{% url 'index' %}" title="">thestorybay.com</a></h3>
  </div>

  <div class="column span-6 prepend-top">
    <div>
      <h3>
        <a class="active_menu green_text_hover show_modal" href="#" data-url="{% url 'stories:search_form' %}">
          <span class="search-icon-hi"></span>
          <span class="search_text">search</span>
        </a>
      </h3>
    </div>
  </div>

  {% if user.is_authenticated %}
    <div class="column span-13 prepend-top user-block">
      <h3>
        <a id="mod_add_story" class="active_menu green_text_hover show_modal" href="#" data-url="{% url 'stories:add' %}">WRITE YOU STORY,</a>
        <a class="active_menu green_text_hover upper" href="{{ user.get_absolute_url }}"><b>- {{ user }}</b></a>
      </h3>
      <div>
        <a class="right logout current" href="{% url 'accounts:logout' %}">logout</a>
      </div>
    </div>
    <div class="column span-1 last" align="right">
      <a href="{{ user.get_absolute_url }}"><p class="star_ico"></p></a>
    </div>
  {% else %}
    <div class="column span-13 header_login prepend-top user-block">
      <h3>
        <a class="active_menu green_text_hover show_modal" href="#" data-url="{% url 'accounts:sign_in' %}">BECOME A WRITESTAR</a>
      </h3>
    </div>
    <div class="column span-1 last">
      <a class="right show_modal" href="#" data-url="{% url 'accounts:sign_in' %}"><p class="star_ico"></p></a>
    </div>
  {% endif %}
</div>