{% load thumbnail %}
{% load math %}
{% if branch_level > 2 %}
    {% math branch_level "(2)" as branch_level %}
{% endif %}
<div class="comment comment_branch_level_{{ branch_level }}" data-branch_level="{{ branch_level }}" data-pk="{{ comment.pk }}">
  <div class="span-2">
    <a class="current" href="{{ comment.author.get_absolute_url }}">
      {% thumbnail comment.author.avatar "75x75" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </a>
  </div>
  <div class="span-15">
    <h4>
      <a class="post_auth_name" href="{{ comment.author.get_absolute_url }}">{{ comment.author.username }}</a>
      <span class="current comment_date">{{ comment.created_on|timesince }}</span>
    </h4>
  </div>
  <div class="span-3 last comment_rating right">
    {% if comment.author != request.user %}
      <form class="right" action="#" data-url="{% url 'voting:vote' object='comment' pk=comment.pk %}" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td><span class="green_text comment_rating_amount">{{ comment.rating }}</span>
            <td><button class="send_vote rating_up_grey" value="up" name="direction"></button></td>
            <td><button class="send_vote rating_down_grey" value="down" name="direction"></button></td>
          </tr>
        </table>
      </form>
    {% endif %}
  </div>
  <div class = "prepend-2 prepend-top last">
    <h4 class="comment_text">
      {{ comment.comment_text|safe }}
    </h4>
  </div>
  <a class="reply_comment" href="#" data-comment="{{ comment.pk }}" id="reply_comment_button">
    Reply to this comment
  </a>

</div>